input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #22545f;
}

button{
    font-family: arial, sans-serif;
    font-size: 25px;

    display: inline-block;
    height:50px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: #e2bfab;
    /*border-radius: 10px;*/
}

.floor{
    background-color: white;
}

.bot{
    background-color: red;
}

.wall{
    background-color: gray;
}

.obj{
    background-color: blue;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 200px;

    background-color: transparent;
}


