input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body{
    margin: 0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #22545f;
}

[type="gridButton"]{
    display: inline-block;
    height:50px;
    width: 50px;
    vertical-align: middle;
}

[type="gridButton"]:active{
    border-style: outset;
}

#input{
    height: 100px;
    display: flex;
    align-items: center;
}

#main{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
}

#exportBtn{
    visibility: hidden;
}

#grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.floor{
    background-color: white;
}

.bot{
    background-color: red;
}

.wall{
    background-color: gray;
}

.obj{
    background-color: blue;
}

.food{
    background-color: green;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: transparent;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: transparent;
}


